@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {font-family:'Nanum Gothic', sans-serif !important;}

.container {
	background-image: url('../bg.jpg');
	height: 100%;
    position: fixed;
    width: 100%;
}
.log-in-form {
  border: 2px solid #cacaca;
  padding: 30px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-radius: 3px; 
  background-color: white;
}
.b1-image {
	border: 2px solid #1779ba;
	height:200px;
}
.c2-image {
  border: 2px solid #1779ba;
  height:200px;
}
.d1-image {
  border: 2px solid #1779ba;
  height:250px;
}
.d1-time {
  border: 2px solid #cacaca;
  height:50px;
  margin-top: 10px;
}
.top-bar, .top-bar ul {
	background-color: #1779ba !important;
}

.log{
 	top: 50%;
 	position: relative;
}

.container>.row{
	top: 150px;
    position: relative;
}

.menu-text{
	color: white;
}

#proc{
  top: 7px;
  left: 2.5%;
  width: 1050px;
  height: 180px;
  background-color: #ECECEC;
  position: relative;
  border: black 1px solid;
  vertical-align: middle;
  text-align: center;
  display: table-cell;

}

.subproc{
  width: 120px;
  height: 120px;
  border: black 1px solid;
  background-color: white;
  float: left;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
[class^=arr-]{
  border: solid currentColor;
  border-width: 0 .2em .2em 0;
  display: inline-block;
  padding: .20em;
  float: left;
  margin: 0 10px;
  margin-top: 50px;
}

.c2_sp_margin {
  padding-top: 45px;
}

.arr-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45dig);
}