{% extends 'base.html' %}

{% block content %}
<div class="medium-10 medium-centered large-12 large-centered columns">
  <form action="{% url 'main:cReq_newRequest' %}" method="post">
  {% csrf_token %}
    <div class="row column log-in-form">
      <h4 class="text-left">고객 주문</h4>
      <div class="b1-image"></div>
      <br/>
      <div class="">
      <label>주문 제품 :
        <select name="item">
          {% for item in items %}
          <option value="{{item.ITEM_ID}}">{{item.ITEM_NAME}}</option>
          {% endfor %}
        </select>
      </label>
      </div>
      <div class="">
      <label>
        주문 수량 : 
        <div class="input-group">
          <input name="num" class="input-group-field" type="number">
          <span class="input-group-label">EA</span>
        </div>
      </label>
      </div>
      <p class="text-right"><a href="" class="button">기존주문조회</a>    
      <input type="submit" class="button" value="신규주문생성"></p>
    </div>

  </form>

</div>
{% endblock content %}