{% extends 'base.html' %}

{% block content %}
<div class="medium-10 medium-centered large-12 large-centered columns">
  
  
    <div class="row column log-in-form">
      <h4 class="text-left">기존 주문정보 리스트</h4>
      <div class="table-scroll" style="height: 300px">
      <table class="hover" style="width: 100%">
        <thead>
          
          <tr>
            <th width="150">주문번호</th>
            <th>주문제품</th>
            <th width="100">제품수량</th>
            <th width="100">제품처리</th>
            <th width="100">주문수정</th>
          </tr>
        </thead>
        <tbody>
        {% for val in lists %}
          <tr>
          <form action="{% url 'main:cModify' %}" id="form_b2_{{val.ORDER_ID}}" method="post">
        {% csrf_token %}
          
            <td>{{val.ORDER_ID}}</td>
            <td>{{val.ITEM_ID.ITEM_NAME}}</td>
            <td>{{val.ORDER_QTY}}</td>
            
            {% if val.ORDER_FIN == False %}
            <td>미처리</td>
            <td>
            <input type="hidden" name="item" value="{{val.ORDER_ID}}">
            <input type="submit" value="주문수정" class="button tiny" style="margin:0">
            </td>
            {% else %}
            <td>처리</td>
            <input type="hidden" name="item" value="{{val.ORDER_ID}}">
            <input type="submit" value="확약주문수정" class="button tiny" style="margin:0">
            {% endif %}
          </tr>
        </form>
          {% endfor %}
        </tbody>
      </table>
      </div>
      <br/>
</div>
{% endblock content %}
