{% extends 'base.html' %}

{% block content %}
<div class="medium-10 medium-centered large-12 large-centered columns">
  <form action="{% url 'main:cModify_Request' %}" id="form_b3" method="post">
  {% csrf_token %}
    <div class="row column log-in-form">
      <h4 class="text-left">주문정보 수정</h4>
      <br/>
      <h6><strong>기존 작성된 주문 정보</strong></h6>
      <table class="hover" style="width: 100%">
        <thead>
          <tr>
            <th width="150">주문번호</th>
            <th>주문제품</th>
            <th width="100">제품수량</th>
            <th width="100">제품처리</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{val.ORDER_ID}}</td>
            <td>{{val.ITEM_ID.ITEM_NAME}}</td>
            <td>{{val.ORDER_QTY}}</td>
            {% if val.ORDER_FIN == False %}
            <td>미처리</td>
            {% else %}
            <td>처리</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      <br/>
      <h6><strong>수정 반영 사항</strong></h6>
      <table class="hover" style="width: 100%">
        <thead>
          <tr>
            <th width="150">주문번호</th>
            <th>주문제품</th>
            <th width="100">제품수량</th>
            <th width="100">제품처리</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{val.ORDER_ID}}</td>
            <td id="modif_name">{{val.ITEM_ID.ITEM_NAME}}</td>
            <td id="modif_qty">{{val.ORDER_QTY}}</td>
            {% if val.ORDER_FIN == False %}
            <td>미처리</td>
            {% else %}
            <td>처리</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      <br/>
      <div class="">
      <label>주문 제품 :
        <select name="item">
          {% for item in items %}
          <option value="{{item.ITEM_ID}}">{{item.ITEM_NAME}}</option>
          {% endfor %}
        </select>
      </label>
      </div>
      <div class="">
      <label>
        주문 수량 : 
        <div class="input-group">
          
          <input name="num" class="input-group-field" type="number">
          <span class="input-group-label">EA</span>
        </div>
      </label>
      </div>
      <p>수정 버튼을 누를 시 화면 반영 사항에 노출되며, 확인을 누르면 반영됩니다.</p>
      <input type="hidden" name="ord" value="{{val.ORDER_ID}}">
      <p class="text-right"><a href="/cList" class="button">이전</a>  <a href="#" id="modify" class="button">수정</a>  <a href="#" id="trig_" class="button" data-open="submitCheck">확인</a></p>
    </div>
  </form>
</div>

</div>
    <div id="submitCheck" class="reveal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">주문정보 수정</h2>
      
      <p>주문번호 {{val.ORDER_ID}}번을 <strong><span id="item"></span></strong> 제품 <strong><span id="no"></span></strong>개로 수정하시겠습니까?</p>
      <p class="text-right">
      <button class="button" onclick="form_submit()" type="button">예</button>
      <a class="button close-reveal-modal" data-close aria-label="Close modal">아니오</a></p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </form>  
    </div>

<script>
    $(document).foundation();

    $('#trig_').click(function(){
       $('#item').text($('select[name="item"]').find('option:selected').text());
       $('#no').text($('input[type=number]').val());
    });

    $('#modify').click(function(){
       $('#modif_name').text($('select[name="item"]').find('option:selected').text());
       $('#modif_name').css('color','red');
       $('#modif_qty').text($('input[type=number]').val());
      $('#modif_qty').css('color','red');
    });

    function form_submit() {
        document.getElementById("form_b3").submit();
    }                           
</script>

{% endblock content %}


