{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMS</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/foundation-datepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/vendor/foundation-datepicker.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
  </head>
  <body>
    <div class="top-bar">

      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="/" style="color: white">유연생산 관리 시스템 (RMS)</a></li>
          <li>
          <!--
            <a href="#">One</a>
            <ul class="menu vertical">
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          -->
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="/" style="color: white">로그아웃</a></li>
        </ul>
      </div>
      
      <div class="top-bar-right">
      <!--
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      -->
      </div>
    
    </div>
    <div class="container">
        <div class="row">
        {% block content %}
        {% endblock %}
        </div>
    </div>


    
  </body>
</html>