{% extends 'base.html' %}

{% block content %}
        <div class="medium-10 medium-centered large-12 large-centered columns">
            <div class="row column log-in-form">
              <h4 class="text-left">미처리 주문정보 리스트</h4>
              <div class="table-scroll" style="height: 300px">
              <table class="hover" style="width: 100%">
                <thead>
                  <tr>
                    <th width="150">주문번호</th>
                    <th>주문제품</th>
                    <th width="100">제품수량</th>
                    <th width="100">제품처리</th>
                    <th width="100">주문대응</th>
                  </tr>
                </thead>
                <tbody>
                  {% for val in lists %}
                    {% if val.ORDER_FIN == False %}
                    <tr>
                      <td>{{val.ORDER_ID}}</td>
                      <td>{{val.ITEM_ID.ITEM_NAME}}</td>
                      <td>{{val.ORDER_QTY}}</td>
                      <td>미처리</td>
                      <td>
                      <form action="{% url 'main:aPurMan1' %}" id="form_c1_{{val.ORDER_ID}}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="item" value="{{val.ORDER_ID}}">
                      <input type="submit" value="주문대응" class="button tiny" style="margin:0">
                      </form>
                      </td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
              </div>
              <br/>
              <p class="text-right"><a href="javascript:history.back(-1)"  class="button">이전</a> <a type="submit" class="button">확인</a></p>
        </div>
{% endblock content %}


