{% extends 'base.html' %}

{% block content %}
        <div class="medium-10 medium-centered large-12 large-centered columns">
          <form>
          {% csrf_token %}
            <div class="row column log-in-form">
              <h4 class="text-left">주문정보 처리</h4>
              <br/>
              <h6><strong>마지막 생산예정 주문 정보</strong></h6>
              <table class="hover" style="width: 100%">
                <thead>
                  <tr>
                    <th width="150">주문번호</th>
                    <th>주문제품</th>
                    <th width="100">제품수량</th>
                    <th width="100">제품처리</th>
                  </tr>
                </thead>
                <tbody>
                  
                    {% if last_available == True %}
                  <tr>
                    <td>{{last_val.ORDER_ID}}</td>
                    <td>{{last_val.ITEM_ID.ITEM_NAME}}</td>
                    <td>{{last_val.ORDER_QTY}}</td>
                    {% if last_val.ORDER_FIN == False %}
                    <td>미처리</td>
                    {% else %}
                    <td>처리</td>
                    {% endif %}
                  </tr>
                    {% else %}
                    <td>
                    </td>
                    <td>

                    일해라 영업부장!!!!
                    </td>
                    {% endif %}
                  
                </tbody>
              </table>
              <br/>
              <h6><strong>현재 처리중인 주문 정보</strong></h6>
              <table class="hover" style="width: 100%">
                <thead>
                  <tr>
                    <th width="150">주문번호</th>
                    <th>주문제품</th>
                    <th width="100">제품수량</th>
                    <th width="100">제품처리</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{now_val.ORDER_ID}}</td>
                    <td>{{now_val.ITEM_ID.ITEM_NAME}}</td>
                    <td>{{now_val.ORDER_QTY}}</td>
                    {% if now_val.ORDER_FIN == False %}
                    <td>미처리</td>
                    {% else %}
                    <td>처리</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
              <br/>
              <h6><strong>전체 생산 프로세스 표시 UI</strong></h6>
              <div class="c2-image">
                <div id="proc">
                <i class="arr-right"></i>
                <div class="subproc"></div>

                <i class="arr-right"></i>
                <div class="subproc"></div>

                <i class="arr-right"></i>
                <div class="subproc"></div>
                </div>
              </div>
              <br/>
              <p class="text-right"><a type="submit" class="button">이전</a>    <a type="submit" class="button">확인</a></p>
            </div>

          </form>

        </div>
{% endblock content %}