{% extends 'base.html' %}

{% block content %}
        <div class="medium-10 medium-centered large-12 large-centered columns">
          <form>
            <div class="row column log-in-form">
              <h4 class="text-left">주문정보 처리</h4>
              <br/>
              <h6><strong>단위 생산공정</strong></h6>
              <div class="c2-image"></div>
              <br/>
              <h6><strong>단위 생산 설비 정보</strong></h6>
              <div class="c2-image"></div>
              <br/>
              <p class="text-right"><a type="submit" class="button">이전</a>    <a type="submit" class="button">확인</a></p>
            </div>

          </form>

        </div>
{% endblock content %}