{% extends 'base.html' %}

{% block content %}
        <div class="medium-10 medium-centered large-12 large-centered columns">
          <form>
            <div class="row column log-in-form">
              <div class="row">

                <div class="large-6 columns">
                  <div class="row">
                    <div class="large-6 columns"><h4 class="text-left">등록 주문정보 리스트</h4></div>
                    <div class="large-6 columns text-right"><a type="submit" class="text-right button">신규주문 확인</a></div>
                  </div>
                  <br/>
                  <div class="table-scroll" style="height: 500px">
                    <table class="hover" style="width: 100%">
                      <thead>
                        <tr>
                          <th width="150">주문번호</th>
                          <th>주문제품</th>
                          <th width="100">제품수량</th>
                          <th width="100">제품처리</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                          <td>123</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="large-6 columns">
                  <div class="row">
                    <div class="large-6 columns"><h4 class="text-left">주문정보 리스트 </h4></div>
                    <div class="large-6 columns text-right"><a type="submit" class="text-right button">설비 고장 조회</a></div>
                  </div>
                  <br/>
                  <div class="table-scroll" style="height: 500px">
                    <h6><strong>설비 정보</strong></h6>
                    <table class="hover" style="width: 100%">
                      <thead>
                        <tr>
                          <th width="150">주문</th>
                          <th>작업</th>
                          <th width="100">번호</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>치킨 피자 햄버거</td>
                          <td>30</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d1-image">설비 이미지</div>
                    <div class="d1-time">현재 시각, 생산량, 계획량</div>
                  </div>
                </div>
              </div>
                
            </div>

          </form>

        </div>
{% endblock content %}