{% extends 'base.html' %}

{% block content %}
        <div class="medium-10 medium-centered large-12 large-centered columns">
          <form>
            <div class="row column log-in-form">
              <div class="row">

                <div class="large-6 columns">
                  <div class="row">
                    <div class="large-6 columns"><h4 class="text-left">현재 생산 레이아웃</h4></div>
                  </div>
                  <br/>
                  <h6><strong>현재 주문 정보</strong></h6>
                  <table class="hover" style="width: 100%">
                    <thead>
                      <tr>
                        <th width="100">주문번호</th>
                        <th>주문제품</th>
                        <th width="100">제품수량</th>
                        <th width="100">제품처리</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>치킨 피자</td>
                        <td>30</td>
                        <td>123</td>
                      </tr>

                    </tbody>
                    </table>
                    <div class="d1-image">설비 이미지</div>
                    <br/>
                    <table class="hover" style="width: 100%">
                      <thead>
                        <tr>
                          <th width="200">변경 작업 예정 시간</th>
                          <th>WO. no</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>집에가고싶다</td>
                          <td>빕스가고싶다</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="large-6 columns">
                  <div class="row">
                    <div class="large-6 columns"><h4 class="text-left">변경 생산 레이아웃</h4></div>
                  </div>
                  <br/>
                  <h6><strong>다음 주문 정보</strong></h6>
                  <table class="hover" style="width: 100%">
                    <thead>
                      <tr>
                        <th width="100">주문번호</th>
                        <th>주문제품</th>
                        <th width="100">제품수량</th>
                        <th width="100">제품처리</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2</td>
                        <td>버거버거 피자</td>
                        <td>30</td>
                        <td>123</td>
                      </tr>

                    </tbody>
                    </table>
                    <div class="d1-image">변경 레이아웃 이미지</div>
                    <br/>
              <p class="text-right"><a type="submit" class="button">이전</a></p>
                </div>
              </div>
                
            </div>

          </form>

        </div>
{% endblock content %}