<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMSS</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">

  </head>
  <body>
    <div class="top-bar">

      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">유연 생산 스케줄 관리 시스템 (RMSS)</li>
          <li>
          <!--
            <a href="#">One</a>
            <ul class="menu vertical">
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          -->
        </ul>
      </div>
      
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">로그아웃</li>
        </ul>
      </div>
    
    </div>
    <div class="container">
      <div class="row">
        <div class="medium-10 medium-centered large-12 large-centered columns">
          <form>
            <div class="row column log-in-form">
              <div class="row">

                <div class="large-6 columns">
                  <div class="row">
                    <div class="large-6 columns"><h4 class="text-left">현재 생산 레이아웃</h4></div>
                  </div>
                  <br/>
                  <h6><strong>현재 주문 정보</strong></h6>
                  <table class="hover" style="width: 100%">
                    <thead>
                      <tr>
                        <th width="100">주문번호</th>
                        <th>주문제품</th>
                        <th width="100">제품수량</th>
                        <th width="100">제품처리</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>치킨 피자</td>
                        <td>30</td>
                        <td>123</td>
                      </tr>

                    </tbody>
                    </table>
                    <div class="d1-image">설비 이미지</div>
                    <br/>
                    <table class="hover" style="width: 100%">
                      <thead>
                        <tr>
                          <th width="200">변경 작업 예정 시간</th>
                          <th>WO. no</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>집에가고싶다</td>
                          <td>빕스가고싶다</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="large-6 columns">
                  <div class="row">
                    <div class="large-6 columns"><h4 class="text-left">변경 생산 레이아웃</h4></div>
                  </div>
                  <br/>
                  <h6><strong>다음 주문 정보</strong></h6>
                  <table class="hover" style="width: 100%">
                    <thead>
                      <tr>
                        <th width="100">주문번호</th>
                        <th>주문제품</th>
                        <th width="100">제품수량</th>
                        <th width="100">제품처리</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2</td>
                        <td>버거버거 피자</td>
                        <td>30</td>
                        <td>123</td>
                      </tr>

                    </tbody>
                    </table>
                    <div class="d1-image">변경 레이아웃 이미지</div>
                    <br/>
              <p class="text-right"><a type="submit" class="button">이전</a></p>
                </div>
              </div>
                
            </div>

          </form>

        </div>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
