<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMSS</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">

  </head>
  <body>
    <div class="top-bar">

      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">유연 생산 스케줄 관리 시스템 (RMSS)</li>
          <li>
          <!--
            <a href="#">One</a>
            <ul class="menu vertical">
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          -->
        </ul>
      </div>
      
      <div class="top-bar-right">
      <!--
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      -->
      </div>
    
    </div>
    <div class="container">
      <div class="row log">
        <div class="medium-6 medium-centered large-4 large-centered columns">
          <form>
            <div class="row column log-in-form">
              <h4 class="text-center">Log in</h4>
              <label>ID
                <input type="text" placeholder="ID">
              </label>
              <label>Password
                <input type="text" placeholder="Password">
              </label>
              <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
              <p><a type="submit" class="button expanded">Log In</a></p>
              <p class="text-center"><a href="#">Forgot your password?</a></p>   
            </div>
          </form>

        </div>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
